.container {
    background-image: url('../../images/back_pikachu.jpg');
    background-size: cover;
    margin: auto;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
    
  }
  a:link, a:visited 
  { text-decoration: none; 
    color: black;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
   }

  .pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        
  }
  
  .pageButton {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .pageButton.disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
