
.NavBar_container{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    background-color: red
}

.links{
    align-items: center;
    

}